body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

input[type=checkbox] {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0px;
    height: 0px;
}

input[type=checkbox]+label>.filterbutton {
    background-color: #DDD;
}

input[type=checkbox]:checked+label>.filterbutton {
    background-color: rgb(161, 177, 216);
}

#config {
    padding-top: 3vh;
    width: 100%;
    overflow: hidden;
}

.filterbutton {
    width: 32vw;
    text-align: center;
    vertical-align: middle;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 10vw;
    float: left;
}

label {
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse
}

#table {
    float: none;
}

table tr:nth-child(odd) {
    background-color: #CCC;
}

table tr:nth-child(even) {
    background-color: #EEE;
}

.table__cell__modifier {
    margin-top: 0.2vh;
    margin-bottom: 0.2vh;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 10vw;
    float: left;
}

td {
    padding-right: 1vw;
}

.table__speed,
.table__stats {
    text-align: right;
}

.table__modifier-speed-up {
    background-color: #6D6;
}

.table__modifier-speed-down {
    background-color: #D66;
}

.table__modifier-item {
    background-color: #DD0;
}

.table__modifier-ability {
    background-color: rgb(215, 170, 188);
}

.table__modifier-field {
    background-color: rgb(161, 177, 216);
}

.table__cell__modifier--filler {
    opacity: 0;
}