body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: large;
}

input[type=checkbox] {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0px;
    height: 0px;
}

input[type=checkbox]+label>.filterbutton {
    background-color: #DDD;
}

input[type=checkbox]:checked+label>.filterbutton {
    background-color: rgb(137, 160, 218);
}

#config {
    width: 100%;
    overflow: hidden;
}

.filterbutton {
    width: 30vw;
    text-align: center;
    vertical-align: middle;
    margin-top: 1px;
    margin-left: 0.5vw;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    float: left;
}

label {
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse
}

.table {
    float: right;
}

table tr:nth-child(odd) {
    background-color: #CCC;
}

table tr:nth-child(even) {
    background-color: #EEE;
}

.table__cell__modifier {
    width: 15vw;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding-left: 0.5vw;
    border-radius: 10px;
    float: left;
}

.table__speed,
.table__stats,
.table__ivs {
    width: 5vw;
}

.table__modifier-speed-up {
    background-color: #6D6;
}

.table__modifier-speed-down {
    background-color: #D66;
}

.table__modifier-item {
    background-color: #DD0;
}

.table__modifier-ability {
    background-color: #D8A;
}

.table__modifier-field {
    background-color: rgb(137, 160, 218);
}

.table__cell__modifier--filler {
    opacity: 0;
}